<a href="https://colab.research.google.com/github/lilismita-2004/Test-project/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello')

Hello

In [ ]:
a=4
b=8
d =a != b
print('a != b = ',d)

a != b =  True

In [ ]:
# in and not in opertor
a="Hello"
b="1"
c=b in a
print ('b in a=',c)
d =b not in a
print('b not in a=',d)

b in a= False
b not in a= True

In [ ]:
#input a no and check even.
a=int(input('enter a no'))
if a%2==0:
  print ('even no')

enter a no26
even no

In [ ]:
a=100
print("a=",a)

a= 100

In [ ]:
a=input('Enter first No:')
b=input('Enter second No:')
c=a+b
print(c)

Enter first No:567
Enter second No:76767
56776767

In [ ]:
# To find Area and perimeter
# Triangle Area=1/2*b*h,perimeter=a+b+c
b4=int(input('Enter b=?'))
h=int(input('Enter h=?'))
area= 0.5 * b * h
print('AREA OF TRIANGLE=',area)
#Triangle perimeter=a+b+c
a=int(input('Enter a=?'))
b=int(input('Enter b=?'))
c=int(input('Enter c=?'))
perimeter=a*b*c
print('PERiMETER OF TRIANGLE=',perimeter)

Enter b=?11
Enter h=?12
AREA OF TRIANGLE= 18.0
Enter a=?8
Enter b=?6
Enter c=?9
PERiMETER OF TRIANGLE= 432

In [ ]:
for var in"ABIT":
  if var=="B":
    continue
  print(var)

A
I
T

In [ ]:
for i in range(10):
  print(i)
  if i==2:
    break

0
1
2

In [ ]:
x = abs(-7.25)
print(x)

7.25

In [ ]:
list = [0,2,2]
a = all(list)
print(a)

False

In [ ]:
tuple = (0, 1, False)
a = any(tuple)
print(a)

True

In [ ]:
a =ascii("Mostly same")
print(a)

'Mostly same'

In [ ]:
a = bin(30)
print(a)

0b11110

In [ ]:
# user defind function
def show():
  print('Hello CSE')
  show()

In [ ]:
# passing parameters in user Defind Function
def ADD(a,b):
  c=a+b
  print('SUM OF TWO NOS=',c)
ADD(10,20)

SUM OF TWO NOS= 30

In [ ]:
# passing parameters in user Defind Function
def ADD(a,b):
  c=a+b
  print('SUM OF TWO NOS=',c)
  p=int(input("Enter first no=?"))
  q=int(input("Enter second no=?"))
  ADD(p,q)

In [ ]:
# using return statement in user defind function
def sumfn(n):
  s=0
  for i in range(1,n+1):
    s=s+i
  return(s)
m=int(input("Enter n=?"))
print('sum of n=',sumfn(m))

Enter n=?5
sum of n= 15

In [ ]:
list1 = ['i','LOVE','python','ABIT']
list2 =[1,2,3,4,5,6]
list3 =['python',20,54,6,'lili','a','b']

In [ ]:
list=[[10,20,30,40,50,60,70,80,90]]

In [ ]:
# Traiangle area
b=int(input('Enter b:'))
h=int(input('Enter h:'))
area=0.5*b*h
print('Area of a triangle is=',area)
# Traiangle perimeter
a=int(input('Enter a:'))
b=int(input('Enter b:'))
c=int(input('Enter c:'))
perimeter=a*b*c
print('perimeter of a triangle is=',perimeter)

Enter b:12
Enter h:5
Area of a triangle is= 30.0
Enter a:8
Enter b:2
Enter c:7
perimeter of a triangle is= 112

In [ ]:
# Rectangle area
b=int(input('Enter b:'))
i=int(input('Enter l:'))
area=1*b
print('Area of a rectangle is=',area)
# Rectangle perimeter
a=int(input('Enter a:'))
b=int(input('Enter b:'))
perimeter=2*(a+b)
print('perimeter of a rectangle is=',perimeter)

Enter b:4
Enter l:5
Area of a rectangle is= 4
Enter a:3
Enter b:2
perimeter of a rectangle is= 10

In [ ]:
from re import S
# Cube volume
s=int(input('Enter s:'))
volume=s*s*S
print('volume of a cube is=',volume)
# cube surface area
s=int(input('Enter s:',))
surface_area=6*s*S
print('surface area of a cube is=',surface_area)

Enter s:20
volume of a cube is= 6400
Enter s:12
surface area of a cube is= 1152

In [ ]:
# Cuboid volume
l=int(input('Enter l:'))
w=int(input('Enter w:'))
h=int(input('Enter h:'))
volume=l*w*h
print('volume of a cuboid is =',volume)
# cuboide surface area
l=int(input('Enter l:'))
w=int(input('Enter w:'))
h=int(input('Enter h:'))
surface_area=(2*l*h)+(2*l*w)+(2*w*h)
print('surface area of a cuboid is=',surface_area)

Enter l:3
Enter w:4
Enter h:8
volume of a cuboid is = 96
Enter l:6
Enter w:4
Enter h:2
surface area of a cuboid is= 88

In [ ]:
# Reverse without using looping
rev=0
base=1;
def reverse(num):
  global rev
  global base
  if(num>0):
    reverse((int)(num/10))
    rev+=(num%10)*base
    base*=10
    return rev
    num=1234567
    prunt(reverse(num))

In [ ]:
my_list = ["apple","orange","banana"]
print(my_list)

['apple', 'orange', 'banana']

In [ ]:
print(type('fruit'))

<class 'str'>

In [ ]:
print(type('lili'))
print(type(23))
print(type(True))
print(type(False))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'bool'>

In [ ]:
Mylist = ['apple','banana','cherry','orange']
print(len(Mylist))
yourlist = [1,8,5]
print(yourlist)
mylist=[True,False,False,True]
print(mylist)
mix=['apple',1,2,'orange',True]
print(mix)
print(mix[-2])
print(mix[1:4])

4
[1, 8, 5]
[True, False, False, True]
['apple', 1, 2, 'orange', True]
orange
[1, 2, 'orange']

In [ ]:
Mylist=['apple','orange','banana']
if"apple"  in Mylist:
  print('it is in the list')

it is in the list

In [ ]:
Mylist[1]="mango"
print(Mylist)

['apple', 'mango', 'banana']

In [ ]:
Mylist.insert(3,"kiwi")
print(Mylist)

['apple', 'mango', 'banana', 'kiwi']

In [ ]:
Mylist.append("mango")
print(Mylist)

['apple', 'mango', 'banana', 'kiwi', 'mango']

In [ ]:
Mylist1 =['apple','orange','banana']
Mylist =['app','or','ab']
print(Mylist1)

In [ ]:
# Reverse without using looping
rev=0
base=1;
def reverse(num):
  global rev
  global base
  if(num>0):
    reverse((int)(num/10))
    rev+m(num%10)*base
    base*=10
    return rev
    num=1234567
    print(reverse(num))

In [ ]:
Mylist1.rem

['app', 'or', 'ab']

In [ ]:
unsorted_list=[5,2,-3,7,99]
sorted_list=sorted(unsorted_list)
print("sorted list:",sorted_list)

sorted list: [-3, 2, 5, 7, 99]

In [ ]:
import numpy as np
data2=[[1,2,3,4],[5,5,7,8]]
arr2 = np.array(data2)
print(arr2.ndim)
print(arr2.shape)

2
(2, 4)

In [ ]:
import numpy as np
data =[[1,2,3,4],[5,6,7,8],[55,66,76,88]]
arr2=np.array(data2)
print(arr2.ndim)
print(arr2.shape)

2
(2, 4)

In [ ]:
a = np.arange(0,10,2)
print(a)

[0 2 4 6 8]

In [ ]:
a = np.random.randint(0,10,(3,3))
print(a)

[[9 0 8]
 [2 0 2]
 [2 0 1]]

In [ ]:
arr = np.array([[1.,2.,3],[4.,5.,6]])
print(arr)
[(1,2,3)]
[4,5,6]

[[1. 2. 3.]
 [4. 5. 6.]]

[4, 5, 6]

In [ ]:
import numpy as np
print('Enter row size')
r=int(input())
print('Enter coiunm size')
c=int(input())
arr=np.random,randint(0,50((r,c)))
print(arr)

<>:6: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:6: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?

Enter row size

In [ ]:
def gcd_fun(x,y):
 if(y==0):#
   return x
 else:
  return gcd_fun(y,x%y)
x =int(input("enter the first number:"))
y =int(input("enter the second number:"))
num=gcd_fun(x,y)
print("GCD of two numbers is:")
print(num) # call num

enter the first number:30
enter the second number:40
GCD of two numbers is:
10

In [ ]:
def liner_search(list,n,key):
  for i in range(0,n)
  if(list[i]) ==key);
  return i
  return-1
  list 1 =[1,3,5,4,7,9]
  key = 7
  n=len(list)
  res=liner_search(list1,n,key)
if(res==-1):
  print("element found at index",res)